@page "/list-movie"
@layout LayoutClient
@inject HttpClient _httpClient
@using Blazored.LocalStorage
@using NeonCinema_API.Controllers.Service
@using NeonCinema_Application.DataTransferObject.Movie
@using NeonCinema_Client.Data.IServices.FlimsUser
@using NeonCinema_Client.Data.IServices.User
@inject ILocalStorageService _localstorage
@using NeonCinema_Client.Data.Services.BookTicket
@using NeonCinema_Client.DataTransferObject.MovieData
@using System.IdentityModel.Tokens.Jwt
@using System.Net.Http.Headers
@using NeonCinema_Domain.Enum
@inject BookTicketServices _service
@inject NavigationManager _navi
@inject IFlimUsers _filmsServices
@inject NavigationManager _navi
@inject IUserServicesss _userService
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/Client/slide1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/Client/slide3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images//Client/slide5.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="fa-solid fa-chevron-left" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="fa-solid fa-chevron-right" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container-fluid movie-nowshowing">
    <div style="text-align: center;">
        <h2 class="mb-4 green-title">PHIM ĐANG PHÁT HÀNH</h2>
    </div>
    <div id="movieCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < moviesNowShowing.Count; i += 5)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="row">
                        @foreach (var movie in moviesNowShowing.Skip(i).Take(5))
                        {
                            <div class="col-custom">
                                <div class="card movie-card">
                                    <div class="image-container">
                                        <img src="@GetImageUrl(movie.Images)" class="card-img-top" loading="lazy" alt="@movie.Name">
                                        <button class="btn buy-ticket-btn" @onclick="() => NagationToDetailBook(movie.ID, movie.AgeAllowed.Value)">
                                            <i class="fa-solid fa-ticket"></i> MUA VÉ NGAY
                                        </button>
                                    </div>
                                    <div class="card-body">
                                        <div class="tags">
                                            <span class="badge bg-danger">T @movie.AgeAllowed</span>
                                            <span class="badge bg-dark">
                                                @(movie.Sub == eSubEnum.Caption ? "Phụ đề" :
                                                    movie.Sub == eSubEnum.VoiceActing ? "Lồng tiếng" : "Không xác định")
                                            </span>
                                            <span class="badge bg-success">@movie.MovieTypeName</span>
                                        </div>
                                        <h3 class="card-title">@movie.Name</h3>
                                        <p class="card-text">Thể loại phim: <span class="genre">@movie.GenreName</span></p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
            <span class="fa-solid fa-chevron-left" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
            <span class="fa-solid fa-chevron-right" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>


<div class="container-fluid promotion-section">
    <div style="text-align: center;">
        <h2 class="mb-4 mt-3 green-title">KHUYẾN MÃI</h2>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <div class="card promotion-card" data-bs-toggle="modal" data-bs-target="#promotionModal">
                <img src="/images/Client/km.jpg" class="card-img-top" alt="Tháng quà tặng">
                <div class="card-body">
                    <h5 class="card-title">
                        CƠN BÃO “SALE” SIÊU KHỦNG TẠI BHD STAR
                    </h5>
                    <p class="card-text">
                        ĐÓN NHẬN CƠN BÃO “SALE” SIÊU KHỦNG KHIẾP TẠI BHD STAR CINEPLEX.

                        + Tặng ngay 01 BẮP “NGON QUÁ TRỜI” (trị giá 49.000đ) khi mua 2 vé xem phim bất kì.
                        + Chỉ với 59.000đ có ngay COMBO “ĐÃ KHÁT ĐÃ THÈM” (1 Bắp + 1 nước).

                        * Ưu đãi áp dụng từ: 20.12.2024 – 28.01.2025 (Không giới hạn số lần sử dụng).
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card promotion-card" data-bs-toggle="modal" data-bs-target="#promotionModal1">
                <img src="/images/Client/km1.jpg" class="card-img-top" alt="Tháng quà tặng">
                <div class="card-body">
                    <h5 class="card-title">Là sinh viên nhận bắp liền</h5>
                    <p class="card-text">
                        Neon Cinema xin thông báo đến TẤT CẢ sinh viên của Thủ đô Hà Nội  rằng chỉ cần các bạn đến rạp mua vé, các bạn sẽ nhận ngay 1 bắp miễn phí nhaaaa 😍
                        Chỉ áp dụng tại NEON CINEMA đến hết ngày 31.12.2024
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card promotion-card" data-bs-toggle="modal" data-bs-target="#promotionModal2">
                <img src="/images/Client/km2.jpg" class="card-img-top" alt="Tặng bắp miễn phí">
                <div class="card-body">
                    <h5 class="card-title">Đổi ảnh lấy nước</h5>
                    <p class="card-text">
                        Hehe đem ảnh đến rạp, nhận ngay nước ngon. Quý khán giả chỉ cần đến NEON CINEMA show tấm ảnh chương trình dưới đây cho rạp là sẽ được tặng ngay 1 ly nước siu mát lạnh trong tiết trời mùa đông 😝
                        Lưu ảnh nhanh nhanh nha các bạn ơiiiii

                        Chương trình áp dụng đến hết ngày 31.12.2024
                        *Lưu ý là khi mua vé mới được áp dụng đổi thưởng nhoa
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card promotion-card" data-bs-toggle="modal" data-bs-target="#promotionModal3">
                <img src="/images/Client/km3.jpg" class="card-img-top" alt="Đổi ảnh lấy nước">
                <div class="card-body">
                    <h5 class="card-title">Khuyến mãi đặc biệt khi xem phim Linh Miêu tại Neon Cinema</h5>
                    <p class="card-text">
                        🌪 CHÀO ĐÓN SIÊU BÃO LINH MIÊU SẮP ĐỔ BỘ TẠI NEON CINEMA 🌪
                        Siêu ưu đãi cho đội nhóm khi đến xem phim tại NEON CINEMA từ ngày 11.11 – 18.11.2024

                        ❤ Thể lệ chương trình:
                        Mỗi nhóm 3 người khi mua vé xem phim tại NEON CINEMA sẽ được tặng ngay 1 VÉ XEM LINH MIÊU 😍

                        *Lưu ý: vé chỉ có thể sử dụng khi mua kèm 1 vé khác áp dụng cho khung giờ trước 17h T2-T5
                        Áp dụng từ ngày 11.11 – 18.11.2024

                        Rủ bạn bè, người thân đến NEON CINEMA nhanh thôi nào các bạn ơi!!!! 😍😍
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Khuyến Mại -->
<div class="modal fade" id="promotionModal" tabindex="-1" aria-labelledby="promotionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content custom-modal-size">
            <div class="modal-body position-relative">
                <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row align-items-center">
                    <!-- Left Image -->
                    <div class="col-md-5">
                        <img src="/images/Client/km.jpg" class="img-fluid rounded" alt="Promotion">
                        <div>
                            <div class="d-flex justify-content-center align-items-center mt-3">
                                <a class="btn btn-primary rounded-circle btn-icon">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a class="btn btn-dark rounded-circle btn-icon">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                                <a class="btn btn-danger rounded-circle btn-icon">
                                    <i class="fa-brands fa-pinterest-p"></i>
                                </a>
                                <a class="btn btn-info rounded-circle btn-icon">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-md-7" style="margin-top: -5px">
                        <h5 class="fw-bold fs-2" style="color:limegreen">
                            CƠN BÃO “SALE” SIÊU KHỦNG TẠI BHD STAR
                        </h5>
                        <p class="text-muted mb-2">05/12/2024</p>
                        <p class="fs-4">
                            ĐÓN NHẬN CƠN BÃO “SALE” SIÊU KHỦNG KHIẾP TẠI NEON CINEMA.
                        </p>
                        <p class="fs-4">
                            + Tặng ngay 01 BẮP “NGON QUÁ TRỜI” (trị giá 49.000đ) khi mua 2 vé xem phim bất kì.
                        </p>
                        <p class="fs-4">
                            + Chỉ với 59.000đ có ngay COMBO “ĐÃ KHÁT ĐÃ THÈM” (1 Bắp + 1 nước).
                        </p>
                        <p class="fs-4">
                            * Ưu đãi áp dụng từ: 20.12.2024 – 28.01.2025 (Không giới hạn số lần sử dụng).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal Khuyến Mại 1 -->
<div class="modal fade" id="promotionModal1" tabindex="-1" aria-labelledby="promotionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content custom-modal-size">
            <div class="modal-body position-relative">
                <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row align-items-center">
                    <!-- Left Image -->
                    <div class="col-md-5">
                        <img src="/images/Client/km1.jpg" class="img-fluid rounded" alt="Promotion">
                        <div>
                            <div class="d-flex justify-content-center align-items-center mt-3">
                                <a  class="btn btn-primary rounded-circle btn-icon">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a class="btn btn-dark rounded-circle btn-icon">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                                <a class="btn btn-danger rounded-circle btn-icon">
                                    <i class="fa-brands fa-pinterest-p"></i>
                                </a>
                                <a class="btn btn-info rounded-circle btn-icon">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-md-7" style="margin-top: -70px">
                        <h5 class="fw-bold fs-2" style="color:limegreen">LÀ SINH VIÊN NHẬN BẮP LIỀN</h5>
                        <p class="text-muted mb-2">05/12/2024</p>
                        <p class="fs-4">
                            Neon Cinema xin thông báo đến TẤT CẢ sinh viên của Thủ đô Hà Nội  rằng chỉ cần các bạn đến rạp mua vé, các bạn sẽ nhận ngay 1 bắp miễn phí nhaaaa 😍
                        </p>
                        <p class="fs-4">Chỉ áp dụng tại NEON CINEMA đến hết ngày 31.12.2024.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Khuyến Mại 2 -->
<div class="modal fade" id="promotionModal2" tabindex="-1" aria-labelledby="promotionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content custom-modal-size">
            <div class="modal-body position-relative">
                <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row align-items-center">
                    <!-- Left Image -->
                    <div class="col-md-5">
                        <img src="/images/Client/km2.jpg" class="img-fluid rounded" alt="Promotion">
                        <div>
                            <div class="d-flex justify-content-center align-items-center mt-3">
                                <a class="btn btn-primary rounded-circle btn-icon">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a class="btn btn-dark rounded-circle btn-icon">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                                <a class="btn btn-danger rounded-circle btn-icon">
                                    <i class="fa-brands fa-pinterest-p"></i>
                                </a>
                                <a class="btn btn-info rounded-circle btn-icon">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-md-7" style="margin-top: -10px">
                        <h5 class="fw-bold fs-2" style="color:limegreen">ĐỔI ẢNH LẤY NƯỚC</h5>
                        <p class="text-muted mb-2">05/12/2024</p>
                        <p class="fs-4">
                            Hehe đem ảnh đến rạp, nhận ngay nước ngon. Quý khán giả chỉ cần đến Neon Cinema show tấm ảnh chương trình dưới đây cho rạp là sẽ được tặng ngay 1 ly nước siu mát lạnh trong tiết trời mùa đông 😝

                        </p>
                        <p class="fs-4">
                            Lưu ảnh nhanh nhanh nha các bạn ơiiiii
                        </p>
                        <p class="fs-4">
                            Chương trình áp dụng đến hết ngày 31.12.2024 tại các cụm rạp
                        </p>
                        <p class="fs-4">
                            *Lưu ý là khi mua vé mới được áp dụng đổi thưởng nhoa
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Khuyến Mại 3 -->
<div class="modal fade" id="promotionModal3" tabindex="-1" aria-labelledby="promotionModalLabel" aria-hidden="true" style="height: 1000px;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content custom-modal-size">
            <div class="modal-body position-relative">
                <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row align-items-center">
                    <!-- Left Image -->
                    <div class="col-md-5">
                        <img src="/images/Client/km3.jpg" class="img-fluid rounded" alt="Promotion">
                        <div>
                            <div class="d-flex justify-content-center align-items-center mt-3">
                                <a class="btn btn-primary rounded-circle btn-icon">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a class="btn btn-dark rounded-circle btn-icon">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                                <a class="btn btn-danger rounded-circle btn-icon">
                                    <i class="fa-brands fa-pinterest-p"></i>
                                </a>
                                <a class="btn btn-info rounded-circle btn-icon">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-md-7">
                        <h5 class="fw-bold fs-2" style="color:limegreen">KHUYẾN MÃI ĐẶC BIỆT KHI XEM PHIM LINH MIÊU TẠI NEON CINEMA</h5>
                        <p class="text-muted mb-2">05/12/2024</p>
                        <p class="fs-4">
                            🌪 CHÀO ĐÓN SIÊU BÃO LINH MIÊU SẮP ĐỔ BỘ TẠI NEON CINEMA 🌪
                            Siêu ưu đãi cho đội nhóm khi đến xem phim tại NEON CINEMA từ ngày 11.11 – 18.11.2024
                        </p>
                        <p class="fs-4">
                            ❤ Thể lệ chương trình:
                            Mỗi nhóm 3 người khi mua vé xem phim tại BHD Star sẽ được tặng ngay 1 VÉ XEM LINH MIÊU 😍
                        </p>
                        <p class="fs-4">
                            *Lưu ý: vé chỉ có thể sử dụng khi mua kèm 1 vé khác áp dụng cho khung giờ trước 17h T2-T5
                            Áp dụng từ ngày 11.11 – 18.11.2024
                        </p>
                        <p class="fs-4">
                            Rủ bạn bè, người thân đến BHD Star nhanh thôi nào các bạn ơi!!!! 😍😍
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid movie-nowshowing">
    <div style="text-align: center;">
        <h2 class="mb-4 green-title">PHIM SẮP PHÁT HÀNH</h2>
    </div>
    <div id="movieCarouselComing" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-inner">
                @for (int i = 0; i < moviesComing.Count; i += 5)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var movie in moviesComing.Skip(i).Take(5))
                            {
                                <div class="col-custom">
                                    <div class="card movie-card">
                                        <div class="image-container">
                                            <img src="@GetImageUrl(movie.Images)" class="card-img-top" loading="lazy" alt="@movie.Name">
                                            <button class="btn buy-ticket-btn" @onclick="() => NagationToDetailBook(movie.ID, movie.AgeAllowed.Value)">
                                                <i class="fa-solid fa-ticket"></i> MUA VÉ NGAY
                                            </button>
                                        </div>
                                        <div class="card-body">
                                            <div class="tags">
                                                <span class="badge bg-danger">T @movie.AgeAllowed</span>
                                                <span class="badge bg-dark">
                                                    @(movie.Sub == eSubEnum.Caption ? "Phụ đề" :
                                                        movie.Sub == eSubEnum.VoiceActing ? "Lồng tiếng" : "Không xác định")
                                                </span>
                                                <span class="badge bg-success">@movie.MovieTypeName</span>
                                            </div>
                                            <h3 class="card-title">@movie.Name</h3>
                                            <p class="card-text">Thể loại phim: <span class="genre">@movie.GenreName</span></p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#movieCarouselComing" data-bs-slide="prev">
            <span class="fa-solid fa-chevron-left" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#movieCarouselComing" data-bs-slide="next">
            <span class="fa-solid fa-chevron-right" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
@if (showAgeRestrictionAlert)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="custom-modal-dialog" role="document">
            <div class="custom-modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100">Thông tin vé</h5>
                    <button type="button" class="btn-close" @onclick="CloseAlert" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="modal-text">@alertMessage</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary cancel-btn" @onclick="CloseAlert">Hủy</button>
                    <button type="button" class="btn btn-danger confirm-btn" @onclick="ConfirmNavigation">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
}



@code {
    [Parameter] public Guid userid { get; set; }
    List<MovieDTO> moviesNowShowing = new List<MovieDTO>();
    List<MovieDTO> moviesComing = new List<MovieDTO>();
    private int userAge;
    private bool showAgeRestrictionAlert = false;
    private string alertMessage = "";
    private UserProfile user;
    private Guid selectedMovieId;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var token = await _localstorage.GetItemAsync<string>("authToken");
            if (token is null)
            {
                _navi.NavigateTo("/login");
                return;
            }
            _httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            var response = await _httpClient.GetAsync("api/User/getfrofile");
            if (response.IsSuccessStatusCode)
            {
                user = await response.Content.ReadFromJsonAsync<UserProfile>();
                if (user != null)
                {
                    userAge = user.age;
                    await LoadMovies();
                    StateHasChanged();
                }
                else
                {
                    alertMessage = "Không thể tải thông tin người dùng. Vui lòng thử lại.";
                }
            }
            else
            {
                alertMessage = "Có lỗi xảy ra khi tải thông tin người dùng. Vui lòng thử lại.";
            }
            await LoadMovies();
            StateHasChanged();
        }
        catch (UnauthorizedAccessException)
        {
            _navi.NavigateTo("/login");
        }
        catch (Exception ex)
        {
            alertMessage = $"Có lỗi xảy ra: {ex.Message}. Vui lòng thử lại.";
        }
        finally
        {
            StateHasChanged();
        }
    }
    private void CloseAlert()
    {
        showAgeRestrictionAlert = false;
        selectedMovieId = Guid.Empty;
        StateHasChanged();
    }

    private async Task NagationToDetailBook(Guid id, int ageAllowed)
    {
        if (userAge < ageAllowed)
        {
            selectedMovieId = id;
            showAgeRestrictionAlert = true;
            alertMessage = $"Tôi xác nhận mua vé cho người xem từ đủ {ageAllowed} trở lên và đồng ý cung cấp giấy tờ tùy thân để xác thực độ tuổi người xem, tham khảo quy định của Bộ Văn Hóa Thể Thao Và Du Lịch. Neon Cinemas sẽ không hoàn tiền nếu người xem không đáp ứng đủ điều kiện ";

            StateHasChanged();
        }
        else
        {
            _navi.NavigateTo($"/client/book-details/{id}");
        }

    }
    private void ConfirmNavigation()
    {
        if (selectedMovieId != Guid.Empty)
        {
            _navi.NavigateTo($"/client/book-details/{selectedMovieId}");
        }
    }




    public async Task LoadMovies()
    {
        moviesNowShowing = await _service.MoviesNowShowing();
        foreach (var movie in moviesNowShowing)
        {
            var actors = await _service.GetActorsByFilmAsync(movie.ID, CancellationToken.None);
            movie.ActorMovies = actors;
        }
        moviesComing = await _service.MoviesComing();
        foreach (var movie in moviesComing)
        {
            var actors = await _service.GetActorsByFilmAsync(movie.ID, CancellationToken.None);
            movie.ActorMovies = actors;
        }
        StateHasChanged();
    }

    private string GetImageUrl(string imageUrl)
    {
        return $"https://localhost:7211/api/Resources/{imageUrl}";
    }

    private async Task NagationToDetailBook(Guid id)
    {
        _navi.NavigateTo($"/client/book-details/{id}");
    }
}


<style>

    .carousel-control-prev,
    .carousel-control-next {
        width: 5%; /* Điều chỉnh kích thước nút */
        height: 100%; /* Chiều cao phủ đầy để dễ bấm */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent; /* Loại bỏ hoàn toàn nền */
        border: none;
    }

        /* Cài đặt cho biểu tượng điều khiển */
        .carousel-control-prev .fa-chevron-left,
        .carousel-control-next .fa-chevron-right {
            font-size: 2rem; /* Giữ font-size lớn cho dễ nhìn */
            color: #4caf50; /* Màu biểu tượng mặc định */
            transition: color 0.3s ease, transform 0.3s ease;
        }

        /* Hiệu ứng hover cho biểu tượng điều khiển */
        .carousel-control-prev:hover .fa-chevron-left,
        .carousel-control-next:hover .fa-chevron-right {
            color: limegreen; /* Màu xanh lá cây khi hover */
            transform: scale(1.5); /* Phóng to biểu tượng khi hover */
        }

        .carousel-control-prev:hover,
        .carousel-control-next:hover {
            background-color: transparent; /* Đảm bảo nền là trong suốt khi hover */
        }

    .movie-card {
        margin: 15px; /* Thêm margin xung quanh card */
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s; /* Thêm hiệu ứng cho box-shadow */
        width: calc(100% - 30px); /* Điều chỉnh width để bù cho margin */
        height: auto; /* Sử dụng auto để có không gian cho nội dung */
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .image-container {
        position: relative;
    }

        .image-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
        }

    .green-title {
        color: limegreen; /* Màu chữ xanh lá cây */
        border: 1px solid limegreen; /* Đường viền màu xanh lá cây */
        padding: 10px; /* Thêm khoảng cách giữa chữ và viền */
        border-radius: 8px; /* Bo góc cho đường viền */
        display: inline-block; /* Để viền chỉ bao quanh chữ */
        font-weight: bold;
    }

    /* Đảm bảo thông tin bên dưới ảnh có không gian và dễ đọc */
    .movie-info {
        padding: 10px;
        text-align: left;
        flex: 1;
        background-color: white;
    }

        .movie-info h3 {
            font-size: 18px;
            color: #4caf50;
            margin: 15px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    /* Hiệu ứng hover không làm cho card bị che khuất */
    .movie-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Tăng độ đổ bóng khi hover */
    }


    .card-body {
        background-color: #292C35; /* Màu nền tối để phù hợp */
        color: #ffffff;
        position: relative;
    }

    .card-title {
        white-space: nowrap; /* Ngăn không cho tiêu đề xuống dòng */
        overflow: hidden; /* Ẩn phần văn bản bị tràn */
        text-overflow: ellipsis; /* Thêm dấu '...' nếu tiêu đề quá dài */
        width: 100%; /* Đảm bảo tiêu đề chiếm toàn bộ chiều rộng */
        display: block; /* Hiển thị tiêu đề dưới dạng khối */
        margin-bottom: 10px; /* Xóa margin dưới */
        color: limegreen;
    }

    .card-text {
        margin-bottom: 10px; /* Xóa margin dưới */
        font-size: 1.2rem;
    }

    .tags {
        margin-top: -5px;
        margin-bottom: 10px;
    }

        .tags .badge {
            font-size: 14px; /* Cỡ chữ của các nhãn */
            padding: 5px 9px; /* Khoảng cách trong của các nhãn */
            border-radius: 7px; /* Bo góc cho nhãn */
            margin-right: 3px; /* Khoảng cách bên phải giữa các nhãn */
        }

            .tags .badge:last-child {
                margin-right: 0; /* Không có khoảng cách bên phải cho nhãn cuối cùng */
            }

    .genre {
        color: limegreen;
    }

    .buy-ticket-btn {
        position: absolute !important;
        bottom: 15px; /* Căn lề dưới */
        left: 50% !important; /* Căn giữa theo chiều ngang */
        transform: translate(-50%, 0) !important; /* Giữ nút luôn ở giữa */
        background-color: limegreen;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        z-index: 10; /* Đảm bảo nút nằm trên ảnh */
        opacity: 0; /* Ẩn nút khi không hover */
        visibility: hidden; /* Ẩn khỏi luồng tài liệu */
        transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease; /* Thêm hiệu ứng mượt */
        width: 55%;
    }

        .buy-ticket-btn:hover {
            background-color: green;
            color: white;
            transform: scale(1.1); /* Phóng to nút nhưng giữ vị trí */
        }

    .movie-card:hover .image-container img {
        opacity: 0.5; /* Làm mờ ảnh khi hover */
    }

    .movie-card:hover .buy-ticket-btn {
        opacity: 1; /* Hiển thị nút khi hover */
        visibility: visible; /* Hiển thị trong luồng tài liệu */
    }

    .col-custom {
        flex: 0 0 20%; /* Chiếm 20% chiều rộng */
        max-width: 20%; /* Đảm bảo không vượt quá 20% */
    }

    .movie-nowshowing {
        background-image: url('/images/Client/background4.jpg'); /* Đường dẫn ảnh nền */
        background-size: cover;
        background-position: center;
        padding: 50px 0; /* Thêm khoảng cách trên dưới */
        position: relative;
        color: white;
    }




    .promotion-section {
        padding: 20px;
        background-image: url('/images/Client/background3.jpg'); /* Đường dẫn ảnh nền */
        background-size: cover;
        background-position: center;
        /* padding: 50px 0; /* Thêm khoảng cách trên dưới */
        */ position: relative;
    }

    .green-title {
        color: limegreen;
        border: 1px solid limegreen;
        padding: 10px;
        border-radius: 8px;
        display: inline-block;
        font-weight: bold;
    }

    .promotion-card {
        background-color: white;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s easedisplay: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

        .promotion-card:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }

        .promotion-card img {
            border-bottom: 1px solid #e9ecef;
            object-fit: cover;
            width: 100%;
            height: auto;
        }

        .promotion-card .card-body {
            background-color: transparent; /* Nền trong suốt màu đen */
            color: white;
        }

        .promotion-card .card-title {
            color: limegreen;
            font-weight: bold;
            font-size: 1.1rem;
            margin-bottom: 10px;
        }

        .promotion-card .card-text {
            font-size: 1.1rem; /* Tăng kích thước chữ một chút */
            font-weight: 600; /* Giảm độ đậm hơn so với bold */
            color: #555;
            display: -webkit-box; /* Kích hoạt kiểu box để giới hạn dòng */
            -webkit-line-clamp: 3; /* Số dòng tối đa */
            -webkit-box-orient: vertical; /* Hướng hiển thị */
            overflow: hidden; /* Ẩn nội dung vượt quá */
            text-overflow: ellipsis; /* Thêm dấu ... */
        }


    .modal-content {
        border-radius: 10px;
        overflow: hidden;
    }

    .modal-body {
        padding: 20px; /* Thêm khoảng cách bên trong */
        font-size: 1.1rem; /* Tăng kích thước chữ bên trong modal */
    }

    .modal-title {
        font-weight: bold;
    }

    .modal-footer .btn {
        margin: 0 5px;
    }

    .modal-body img {
        border-radius: 5px;
    }

    .modal-body .btn-close {
        font-size: 1.5rem; /* Tăng kích thước */
        color: #000; /* Màu nút đóng */
        opacity: 0.8; /* Độ trong suốt */
        z-index: 10; /* Đảm bảo nút nằm trên các nội dung khác */
        transition: opacity 0.3s ease; /* Hiệu ứng khi hover */
    }

        .modal-body .btn-close:hover {
            opacity: 1; /* Hiển thị rõ hơn khi hover */
        }

    .custom-modal-size {
        max-width: 80%; /* Điều chỉnh chiều rộng modal */
        height: auto; /* Tự động điều chỉnh chiều cao */
        margin: 0 auto; /* Đảm bảo modal luôn ở giữa */
    }

    .modal-dialog {
        max-width: 80%; /* Làm modal rộng hơn */
    }

    .modal-dialog-centered {
        display: flex;
        align-items: center; /* Căn giữa theo chiều dọc */
        justify-content: center; /* Căn giữa theo chiều ngang */
    }

    .modal-dialog {
        max-width: 80%; /* Đảm bảo modal đủ lớn */
        margin: auto; /* Căn giữa theo chiều ngang */
    }

    .custom-modal-size {
        max-width: 80%; /* Điều chỉnh kích thước modal */
        margin: 0 auto; /* Đảm bảo modal luôn ở giữa */
    }
    /* Cài đặt cho các nút mạng xã hội */
    .btn-icon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem; /* Kích thước biểu tượng */
        margin: 5px;
        color: white; /* Màu biểu tượng */
    }

    .btn-primary {
        background-color: #1877F2; /* Màu xanh Facebook */
        border: none;
    }

    .btn-dark {
        background-color: #000000; /* Màu đen cho X (Twitter) */
        border: none;
    }

    .btn-danger {
        background-color: #E60023; /* Màu đỏ cho Pinterest */
        border: none;
    }

    .btn-info {
        background-color: #0077B5; /* Màu xanh dương cho LinkedIn */
        border: none;
    }

    /* Thêm hiệu ứng hover */
    .btn:hover {
        opacity: 0.8; /* Làm mờ khi hover */
        transform: scale(1.1); /* Phóng to nhẹ */
        transition: all 0.3s ease-in-out;
    }

    /* Bo góc tròn */
    .rounded-circle {
        border-radius: 50%;
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1050;
    }





    .custom-modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Căn giữa theo cả chiều ngang và chiều dọc */
        background: white;
        border-radius: 8px;
        max-width: 400px; /* Chiều ngang tối đa của modal */
        width: 90%; /* Đảm bảo modal co giãn theo màn hình */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
        overflow: hidden;
    }

    .custom-modal-content {
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-radius: 8px;
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #dee2e6;
        margin-bottom: 16px;
    }

    .modal-body {
        padding: 8px 0;
        font-size: 14px;
        line-height: 1.6;
        color: #333;
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        margin-top: 16px;
    }

    .modal-text {
        color: #000;
        font-size: 14px;
        text-align: justify;
    }

    .cancel-btn {
        background-color: #6c757d;
        border: none;
        color: white;
        padding: 6px 12px;
        border-radius: 4px;
    }

    .confirm-btn {
        background-color: #dc3545;
        border: none;
        color: white;
        padding: 6px 12px;
        border-radius: 4px;
    }

    .btn:focus {
        box-shadow: none;
    }

    .img-fluid {
        margin-left: 10px;
        margin-top: 10px;
    }
</style>