@page "/seats"
@using NeonCinema_Application.DataTransferObject.Seats
@using NeonCinema_Client.Data.IServices.Seat
@using NeonCinema_Domain.Enum
@inject ISeatService SeatService

<h3>Seat List</h3>

@if (seats == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Seat Number</th>
                <th>Row</th>
                <th>Column</th>
                <th>Room Name</th>
                <th>Seat Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var seat in seats)
            {
                <tr>
                    <td>@seat.SeatNumber</td>
                    <td>@seat.Row</td>
                    <td>@seat.Column</td>
                    <td>@seat.RoomName</td>
                    <td>@seat.SeatTypeName</td>
                    <td>@(seat.Status == EntityStatus.Active ? "Active" : "Inactive")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<SeatDTO> seats;

    protected override async Task OnInitializedAsync()
    {
        seats = await SeatService.GetAllSeats();
    }
}
