@page "/movies-dialog/{id:guid}"
@using NeonCinema_Application.DataTransferObject.Countrys
@using NeonCinema_Application.DataTransferObject.Directors
@using NeonCinema_Application.DataTransferObject.Genre
@using NeonCinema_Application.DataTransferObject.Language
@using NeonCinema_Application.DataTransferObject.Movie
@using NeonCinema_Client.Data.IServices.IMoviesServices
@using System.Text.Json
@inject IMovieservices _movieServices
@inject HttpClient _http
@inject NavigationManager _navigation
<body>
    <div class="container-fluid">
        <div class="row movie-detail-background">
            <div class="col-md-4">
                <!-- Điều chỉnh col-md-4 để ảnh chiếm 1/3 kích thước -->
                <div class="img-movie-detail">
                    <img src="/images/Client/cam.jpg" alt="Movie Poster" class="img-fluid rounded shadow">
                </div>
            </div>

            <!-- Thông tin phim bên phải -->
            <div class="col-md-8">
                <!-- Điều chỉnh col-md-8 để phần chữ chiếm nhiều không gian hơn -->
                <h2 class="title">@movieDto.Name</h2>
                <p class="description">@movieDto.Description</p>
                <p>
                    <strong>Phân loại:</strong>
                    @* <span class="badge bg-danger">T18</span> *@
                    <span class="text-muted">Phim phổ biến đến người xem từ @movieDto.AgeAllowed trở lên</span>
                </p>
                <p>
                    <strong>Kiểu phim</strong>
                    <span class="badge bg-success">2D</span>
                </p>
            
                @* <p><strong>Diễn viên:</strong> <span class="text-info">Rima Thanh Vy, Thúy Diễm, NSƯT Ngọc Hiệp</span></p> *@
                <p><strong>Khởi chiếu:</strong> <span class="text-info">@movieDto.StarTime</span></p>
                <p><strong>Thể loại:</strong> <span class="text-info">@movieDto.GenreName</span></p>
                <p><strong>Thời lượng:</strong> <span class="text-info">@movieDto.Duration</span></p>
                <p><strong>Ngôn ngữ:</strong> <span class="text-info">@movieDto.LanguareName</span></p>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <h4 class="trailer-title">Trailer</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="w-100" height="700" src="https://www.youtube.com/embed/6A0nJ_sJzCk" frameborder="0" allowfullscreen></iframe> <!-- Điều chỉnh height -->
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn-edit" @onclick="ToggleEdit">Chỉnh sửa</button>
        <!-- Trailer phim -->
      
    </div>
    @if (isEditing) // Kiểm tra biến isEditing để hiển thị phần sửa thông tin
    {
        <div class="container-fluid mt-5">
            <h2 class="text-center mb-4 font-weight-bold">Sửa thông tin phim</h2>

            <div class="row justify-content-center">
                <div class="col-md-3 text-center mb-4 mt-5">
                    <img src="/images/Client/cam.jpg" alt="Profile" class="img-fluid profile-pic">
                </div>
                <div class="col-md-9" style="margin-top:10px">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="font-weight-bold">Tên Phim</label>
                                <input type="text" class="form-control" id="name" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Duration" class="font-weight-bold">Thời Lượng</label>
                                <input type="text" class="form-control" id="Duration" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Trailer" class="font-weight-bold">Trailer</label>
                                <input type="text" class="form-control" id="Trailer" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="StarTime" class="font-weight-bold">Ngày phát hành</label>
                                <input type="date" class="form-control" id="StarTime" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="images" class="font-weight-bold">Hình ảnh</label>
                                <InputFile class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="AgeAllowed" class="font-weight-bold">Độ tuổi cho phép</label>
                                <input type="number" class="form-control" id="AgeAllowed" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Genre" class="font-weight-bold">Thể loại</label>
                                <select class="form-control">
                                    <option value="" disabled selected>Chọn thể loại</option>
                                    <!-- Các lựa chọn thể loại sẽ được thêm ở đây -->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Language" class="font-weight-bold">Ngôn ngữ</label>
                                <select class="form-control">
                                    <option value="" disabled selected>Chọn ngôn ngữ</option>
                                    <!-- Các lựa chọn ngôn ngữ sẽ được thêm ở đây -->
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Country" class="font-weight-bold">Quốc gia</label>
                                <select class="form-control">
                                    <option value="" disabled selected>Chọn quốc gia</option>
                                    <!-- Các lựa chọn quốc gia sẽ được thêm ở đây -->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Director" class="font-weight-bold">Đạo diễn</label>
                                <select class="form-control">
                                    <option value="" disabled selected>Chọn đạo diễn</option>
                                    <!-- Các lựa chọn đạo diễn sẽ được thêm ở đây -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="Description" class="font-weight-bold">Mô tả</label>
                            <textarea class="form-control" id="Description" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-lg">Sửa</button>
                    </div>
                </div>
            </div>
        </div>
    }

</body>
@code{
    [Parameter]
    public Guid id { get; set; }
    private MovieDTO movieDto = new MovieDTO();
    protected override async Task OnInitializedAsync()
    {
         movieDto = await _movieServices.GetMovieById(id);

    }
    private bool isEditing = false; 

    private void ToggleEdit()
    {
        isEditing = !isEditing; 
    }
}
<style>
    .movie-detail-background {
        margin-top: 20px;
    }

    .img-movie-detail img {
        width: 100%; /* Chiếm 100% của cột chứa ảnh, nên ảnh sẽ nhỏ hơn 1/3 */
        height: auto;
    }

    .col-md-8 {
        padding-left: 30px; /* Thêm khoảng cách giữa ảnh và phần chữ */
    }

    .title {
        font-size: 2rem;
        font-weight: bold;
    }

    .description {
        font-size: 1.2rem;
    }

    .trailer-title {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    .embed-responsive-16by9 {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-height: 800px; /* Chiều cao tối đa của trailer */
    }

        .embed-responsive-16by9 iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 80%;
        }

</style>