
﻿@using Microsoft.AspNetCore.Routing
@using NeonCinema_Client.Pages.Admin
@using NeonCinema_Client.Pages.Client
@inject NavigationManager _navi

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" >
                <NotAuthorized>
                    <p>Bạn không có quyền truy cập trang này.</p>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
           @*  <RouteView RouteData="@routeData" DefaultLayout="@typeof(LayoutAdmin)" /> *@
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(LayoutClient)">
                @{
                    _navi.NavigateTo("/list-movie");
                };
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


